services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: defect-api
    ports:
      - "8000:8000"
    restart: always

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    container_name: defect-frontend
    ports:
      - "8501:8501"
    depends_on:
      - api
    restart: always